/* scroll de grid */

.scrollbar::-webkit-scrollbar-track {
  background-color: #edf2f7;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
}

/* scroll da sidebar */

.sidebarScrollbar::-webkit-scrollbar-track {
  background-color: white;
}

.sidebarScrollbar::-webkit-scrollbar {
  width: 5px;
}

.sidebarScrollbar::-webkit-scrollbar-thumb {
  background-color: #edf2f7;
}
