@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

:root {
  --background-app: #dfdcf7;
  background-color: var(--background-app);
}

* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}
